/* line 17, ../sass/editor.scss */
body {
  width: 1200px;
  background-color: #373535;
}

/* line 22, ../sass/editor.scss */
.allSlides {
  width: 300px;
  height: 800px;
  float: left;
  background-color: #e2e1e1;
  overflow: scroll;
}

/* line 30, ../sass/editor.scss */
.pageTool {
  width: 300px;
  height: 80px;
  position: sticky;
}

/* line 36, ../sass/editor.scss */
.pageToolBtn {
  background-color: #e2e1e1;
  width: 150px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* line 45, ../sass/editor.scss */
.pageToolBtn:hover {
  background-color: #fff;
}

/* line 50, ../sass/editor.scss */
.previewArea {
  width: 300;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

/* line 57, ../sass/editor.scss */
.pagePreview {
  list-style-type: none;
  width: 270-2px;
  height: 180px;
  margin-left: 14px;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid #6a6565;
  border-radius: 4px 4px 4px 4px;
  background-color: #fff;
}

/* line 70, ../sass/editor.scss */
.focused {
  background-color: #6ef9e5;
}

/* line 74, ../sass/editor.scss */
.toolPanel {
  width: 300px;
  height: 800px;
  float: left;
}

/* line 80, ../sass/editor.scss */
.slidePanel {
  width: 900px;
  height: 800px;
  float: left;
}

/* line 86, ../sass/editor.scss */
.slideBase {
  position: absolute;
  border: 1px dotted #000;
  width: 720px;
  height: 640px;
  margin-left: 90px;
  margin-top: 80px;
}

/* line 95, ../sass/editor.scss */
.slide {
  position: absolute;
  background-color: #FFFFFF;
  width: 720px;
  height: 640px;
}

/* line 102, ../sass/editor.scss */
.slideObj {
  position: absolute;
  text-align: center;
}
/* line 105, ../sass/editor.scss */
.slideObj:hover {
  background-color: #EEEEEE;
}
/* line 108, ../sass/editor.scss */
.slideObj .disabled {
  background-color: #c4eef9;
}

/* line 113, ../sass/editor.scss */
.titleLabel {
  width: 680px;
  top: 20px;
  left: 20px;
  height: 150px;
  font-size: 48px;
}

/* line 121, ../sass/editor.scss */
.itemArea {
  top: 200px;
  width: 680px;
  left: 20px;
  height: 400px;
}

/* line 128, ../sass/editor.scss */
.itemList {
  margin: 30px;
  padding: 0;
  font-size: 32px;
}

/* line 134, ../sass/editor.scss */
.itemListElem {
  text-align: left;
}

/* line 138, ../sass/editor.scss */
.sortable-placeholder {
  background-color: #d4f5fd;
}
