/* line 21, ../sass/editor.scss */
body {
  width: 1200px;
  background-color: #373535;
}

/* line 26, ../sass/editor.scss */
.overlay {
  visibility: hidden;
  position: absolute;
  background-color: #050000;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/* line 37, ../sass/editor.scss */
.playWindow {
  margin-left: 240px;
  margin-top: 80px;
}

/* line 42, ../sass/editor.scss */
.allSlides {
  width: 300px;
  height: 800px;
  float: left;
  background-color: #e2e1e1;
  overflow: scroll;
}

/* line 50, ../sass/editor.scss */
.pageTool {
  width: 300px;
  height: 80px;
  position: sticky;
}

/* line 56, ../sass/editor.scss */
.pageToolBtn {
  background-color: #e2e1e1;
  width: 150px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  float: left;
  -webkit-user-select: none;
  -moz-user-select: none;
}
/* line 65, ../sass/editor.scss */
.pageToolBtn:hover {
  background-color: #fff;
}

/* line 70, ../sass/editor.scss */
.previewArea {
  width: 300;
  overflow: scroll;
  padding: 0;
  margin: 0;
}

/* line 77, ../sass/editor.scss */
.pagePreview {
  list-style-type: none;
  width: 270-2px;
  height: 180px;
  margin-left: 14px;
  margin-top: 7px;
  margin-bottom: 7px;
  border: 1px solid #6a6565;
  border-radius: 4px 4px 4px 4px;
  background-color: #fff;
}

/* line 90, ../sass/editor.scss */
.focused {
  background-color: #6ef9e5;
}

/* line 94, ../sass/editor.scss */
.toolPanel {
  width: 300px;
  height: 800px;
  float: left;
}

/* line 100, ../sass/editor.scss */
.slidePanel {
  width: 900px;
  height: 800px;
  float: left;
}

/* line 106, ../sass/editor.scss */
.slideBase {
  position: absolute;
  border: 1px dotted #000;
  width: 720px;
  height: 640px;
  margin-left: 90px;
  margin-top: 80px;
}

/* line 115, ../sass/editor.scss */
.slide {
  position: absolute;
  background-color: #FFFFFF;
  width: 720px;
  height: 640px;
}

/* line 122, ../sass/editor.scss */
.slideObj {
  position: absolute;
  text-align: center;
}
/* line 125, ../sass/editor.scss */
.slideObj:hover {
  background-color: #EEEEEE;
}
/* line 128, ../sass/editor.scss */
.slideObj .disabled {
  background-color: #c4eef9;
}

/* line 133, ../sass/editor.scss */
.titleLabel {
  width: 680px;
  top: 20px;
  left: 20px;
  height: 150px;
  font-size: 48px;
}

/* line 141, ../sass/editor.scss */
.itemArea {
  top: 200px;
  width: 680px;
  left: 20px;
  height: 400px;
}

/* line 148, ../sass/editor.scss */
.itemList {
  margin: 30px;
  padding: 0;
  font-size: 32px;
}

/* line 154, ../sass/editor.scss */
.itemListElem {
  text-align: left;
}

/* line 158, ../sass/editor.scss */
.sortable-placeholder {
  background-color: #d4f5fd;
}
