!!!
%html(lang="ja")
  %head
    %meta(charset="utf-8")
    %title<
      Edit
    %link(rel="stylesheet" href="css/editor.css")
    %link(rel="stylesheet" href="css/smoothness/jquery-ui.css")
    %script(src="js/jquery-2.0.2.min.js")
    %script(src="js/jquery-ui.js")
    %script(src="js/slide.js")
    %script(src="js/editor.js")
  %body
    .overlay(id="overlay")
      .playWindow
    .pageTool
      .pageToolBtn.addPage<
        Add
      .pageToolBtn.rmPage<
        Remove
    .allSlides
      %ul.previewArea.sortable
    .slidePanel
      .slideBase
    .pageTool
      .pageToolBtn.savePage<
        Save
      .pageToolBtn.loadPage<
        Load
      .pageToolBtn.newPage<
        new
      .pageToolBtn.playAll<
        play