!!!
%html
  %head
    %script(src="jquery-2.0.2.min.js")
    %script(src="slide.js")
    %script(src="slideTest.js")
  %body
    .add
      %label<
        add
    .rm
      %label<
        rm
    .exchange<
      %label<
        exchange
    .output
      %ul